@base00: #272822;
@base01: #383830;
@base02: #49483e;
@base03: #75715e; // comments and gutter numbers
@base04: #a59f85;
@base05: #f8f8f2;
@base06: #f5f4f1;
@base07: #f9f8f5;
@base08: #cf5757;
@base09: #fd971f;
@base0A: #f4bf75;
@base0B: #a6e22e;
@base0C: #a1efe4;
@base0D: #66d9ef;
@base0E: #ae81ff;
@base0F: #cc6633;

.pane-content .not-editor {
    background: @base00 url('data:image/svg+xml;utf8,<?xml version="1.0" encoding="UTF-8" standalone="no"?><svg style="enable-background:new 0 0 191.7 71.3" xmlns="http://www.w3.org/2000/svg" xml:space="preserve" viewBox="0 0 191.7 71.3" version="1.1" y="0px" x="0px" xmlns:xlink="http://www.w3.org/1999/xlink"><style type="text/css">.st0{fill:#AAAAAA;}.st1{fill:none;stroke:#D3D3D3;stroke-width:0.8;stroke-linecap:round;stroke-linejoin:round;stroke-dasharray:203.5514,203.5514;}.st2{fill:none;stroke:#D3D3D3;stroke-width:0.8;stroke-linecap:round;stroke-linejoin:round;stroke-dasharray:17.1693,17.1693;}.st3{fill:none;stroke:#D3D3D3;stroke-width:0.8;stroke-linecap:round;stroke-linejoin:round;stroke-dasharray:32.5022,32.5022;}.st4{fill:none;stroke:#D3D3D3;stroke-width:0.8;stroke-linecap:round;stroke-linejoin:round;stroke-dasharray:563.2719,563.2719;}.st5{font-family:SFMono-Bold, Sans-Serif, monospace;}.st6{font-size:21px;}.st7{fill:#D3D3D3;}</style><path class="st0" d="m28.7 21.1h5.9v13.5h-5.9v5.9h11.8v-25.3h-11.8v5.9m16.3-20.2h-36c-5 0-9 4-9 9v36c0 5 4 9 9 9h36c4.9 0 9-4 9-9v-36c0-5-4.1-9-9-9m2.2 42.8c0 2.5-2 4.5-4.5 4.5h-31.5c-2.5 0-4.5-2-4.5-4.5v-31.6c0-2.5 2-4.5 4.5-4.5h31.5c2.5 0 4.5 2 4.5 4.5v31.6m-33.7-3.1h11.8v-5.9h-5.9v-13.6h5.9v-5.9h-11.8v25.4"/><path class="st1" d="m158 47.4s0.3-1.9 0.7-2.7c0.5-1.2 1.5-3.5 2-3.7 0.3-0.1 1.2 2 1.7 2.3 0.2 0.2 1.1-0.1 1.3-0.3 0.8-0.7 1.9-1.9 2.3-3 1.3-3 3.2-9.9 3.4-10.1 0.1-0.1-0.9 5.4-1.7 8-1.9 6.8-4.1 12.9-6 19.8-1.3 4.5-3.4 13.1-3.4 13.1"/><path class="st2" d="m168 48.1s-1.1 0.1-1.3 0.3-0.5 1.2-0.3 1.3 1.6-0.4 1.7-0.3l-0.7 1"/><path class="st3" d="m173 47.7s-1.3-0.2-1.7 0c-0.3 0.1-0.6 0.7-0.7 1-0.1 0.4 0.1 1.2 0.3 1.3s1.3-0.4 1.3-0.3c0.1 0.1-0.4 1-0.7 1.3l-1 0.7m5-4l1-0.7m1-1.6l-0.7 1"/><path class="st4" d="m179 36.3s0.3 0.9 0.3 1.3c0.1 2.4 0.2 4.9 0 7.4-0.2 2.8-0.7 5.6-1.3 8.4-0.4 2-0.9 3.9-1.7 5.7-0.6 1.4-1.9 3.6-2.3 4-0.1 0.1-0.6-0.7-0.7-1-0.2-0.6-0.3-1.3-0.3-2-0.2-2-0.4-4-0.3-6s0.3-4 0.7-6c0.3-1.9 0.6-4 1.3-5.7 0.9-2 2.4-4.2 3.7-6 0.6-0.9 1.5-1.7 2.3-2.3 0.7-0.5 1.6-1.1 2.3-1.3 1.2-0.3 2.9-0.5 4-0.3 0.8 0.1 1.8 0.8 2.3 1.3 0.7 0.7 1.6 2.1 1.7 3 0.1 1-0.5 2.5-1 3.7-0.4 1-1 2.3-1.7 3-1 1.1-2.7 2.3-4 3-0.7 0.4-1.8 0.6-2.7 0.7-1 0.1-2.4 0-3.4-0.3s-2.2-1-3-1.7c-1.5-1.2-2.9-3.2-4.4-4.4-0.4-0.4-1.1-0.5-1.7-0.7-0.7-0.2-1.6-0.3-2.3-0.3-0.7-0.1-1.4-0.1-2 0-0.8 0.2-1.7 0.6-2.3 1-0.5 0.3-1 0.9-1.3 1.3-0.2 0.3-0.4 0.9-0.3 1.3 0.1 0.6 0.3 1.6 0.7 2 0.3 0.3 1.1 0.6 1.7 0.7 2.4 0.4 4.9 0.9 7.4 1 4.1 0.1 8.3 0 12.4-0.3 2.6-0.2 7.6-1.3 7.7-1.3s-3.8 0.8-5.7 1.3c-6.2 1.8-11.9 3.6-18.1 5.7-2.7 0.9-5.1 2.1-7.7 3-0.5 0.2-1.2 0.1-1.7 0.3l-8.7 3.7"/><text transform="matrix(.89 0 0 1 63.4 17.9)"><tspan y="0" x="0" class="st0 st5 st6">CODE</tspan><tspan y="17" x="0" class="st0 st5 st6">THE WEB</tspan><tspan y="34" x="0" class="st7 st5 st6">THEME BY</tspan></text></svg>') no-repeat center 45%;
    background-size: 30% 30%;
}

// fix for quickedit
.inline-widget {
    background: @base01;
    .inline-editor-header a {
        color: @base05;
    }
    .CodeMirror-gutter {
        background: @base01;
    }
}

// fix for interactive linter
.CodeMirror-linewidget {
    color: rgb(83,83,83);
}

/* Code Styling */

.CodeMirror {
// Gotta have that sweet sweet line spacing
    line-height: 1.2;
}
.CodeMirror-scroll {
    // Background color of main window
    background-color: @base00;
    // Color of otherwise un-styled text
    color: @base06;
}
.CodeMirror-gutters {
    // Gutter to the left
    background-color: @base00;
}
.CodeMirror-linenumber {
    // Line numbers in the gutter
    color: @base03;
}
.CodeMirror-selected {
    // Highlighed text
    background-color: @base02;
}
.CodeMirror-cursor {
    // The cursor
    border-left: 1px solid @base06;
}
.CodeMirror-matchingbracket,
.CodeMirror-matchingtag {
    // When you click a tag/bracket and the matching one is highlighted
    background: @base02 !important;
    color: @base06 !important;
    border-bottom: 1px solid @base08 !important;
}
.CodeMirror-foldgutter-open:after {
    // Those little arrows in the gutter
    color: @base03;
}
.CodeMirror-foldgutter-folded:after {
    // The arrows after you collapse code
    color: @base04;
}
.CodeMirror.over-gutter,
.CodeMirror-activeline {
    .CodeMirror-foldgutter-open:after {
        // Arrows when hovering on the gutter
        color: @base06;
    }
}
.CodeMirror-foldmarker {
    // The [...] marking collapsed code
    border-color: @base06;
    background-color: @base06;
    color: @base02;
}
.CodeMirror-searching {
    // Ctrl + F results
    background-color: @base0A;
    // Selected result
    &.searching-current-match {
        background-color: @base09;
    }
}

/* Non-editor Styling */

#image-holder,
#not-editor {
    background-color: @base00;
}
#image-holder {
    color: @base04;
}
.view-pane .image-view {
    color: @base06;
}

/* All 'dem swatches */

.cm-atom,
.cm-string,
.cm-string-2,
.cm-hr,
{
    color: @base0B;
}
.cm-number,
.cm-attribute,
.cm-plus {
    color: @base0A;
}
.cm-def,
.cm-property {
    color: @base0C;
}
.cm-variable,
.cm-variable-2,
.cm-variable-3 {
    color: @base0E;
}
.cm-operator,
.cm-meta,
.cm-bracket {
    color: @base06;
}
.cm-comment {
    color: @base03;
}
.cm-error,
.cm-minus {
    color: @base09;
}
.cm-header {
    color: @base0E;
}
.cm-link {
    color: @base0E;
    text-decoration: none;
}
.cm-rangeinfo {
    color: @base0C;
}
.cm-keyword,
.cm-qualifier,
.cm-builtin,
.cm-tag,
.cm-quote {
    color: @base08;
}

/* Active Line Highlight support */
.CodeMirror-activeline-background {
    background-color: @base02;
}
.CodeMirror-activeline .CodeMirror-linenumber {
    background-color: @base01;
}
.CodeMirror-focused .CodeMirror-activeline .CodeMirror-gutter-elt {
    background: @base01;
}

/*End of Theme*/

